@model string

<div class="container">
    <div class="row">
        <div class="m-auto col-10 col-sm-8 col-lg-6">
            @Html.InfoCard("<i class='display-2 text-danger fa fa-exclamation-triangle'></i>", "Error", Model)
        </div>
    </div>
</div>