@model string

<div class="container">
    <div class="row">
        <div class="m-auto col-10 col-sm-8 col-lg-6">
            @Html.InfoCard("<i class='display-2 text-primary fa fa-envelope'></i>", "Check your email to reset password", $"Reset link was sent to email address {Model}")
        </div>
    </div>
</div>