@using TestingSystem.Web.Models

@{
    ViewBag.Title = "Index";
}

<div class="container">
    @Html.Partial("_UserExtendedSearchForm", new RouteValues { 
        Action = "_SelectUserProfilesExtended",
        Controller = "Home",
        Area = "User"
    })

    <div id="data" class="container-fluid">
        @Html.Preloader("loadingItems", "my-4 py-4")
    </div>
</div>